     curl -F 'client_id=41255add49bc4d56ba7f62650849da47' \
     -F 'client_secret=38eb39f9081e40a086af6d10d29b4802' \
     -F 'object=tag' \
     -F 'aspect=media' \
     -F 'object_id=drumcode' \
     -F 'callback_url=http://keyara.herokuapp.com/instagramCallback' \
     https://api.instagram.com/v1/subscriptions/

